.DS_Store
._.DS_Store
pops/images/compounds/*
!placeholder.txt

SecuritySettings.php

pops/curves/*
pops/gsea/*
pops/pegplots/*
pops/roc-curves/*
pops/scanningks/*
pops/elasticnet/*
!pops/curves/placeholder.txt
!pops/gsea/placeholder.txt
!pops/pegplots/placeholder.txt
!pops/roc-curves/placeholder.txt
!pops/scanningks/placeholder.txt
!pops/elasticnet/placeholder.txt

